@{
    //ViewBag.Title = "Liens";
    //Layout = "~/Views/Shared/_LayoutQmc.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Infos</li>
                <li class="breadcrumb-item active" aria-current="page">Documentation</li>
            </ol>
        </nav>
        <br />
    </div>
    @*<h3>@ViewBag.Message</h3>*@
</div>
<div class="row">
</div>