@{
    //ViewBag.Title = "Liens";
    //Layout = "~/Views/Shared/_LayoutQmc.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Infos</li>
                <li class="breadcrumb-item active" aria-current="page">Documentation</li>
            </ol>
        </nav>
        <br />
    </div>
    @*<h3>@ViewBag.Message</h3>*@
</div>
<div class="row">
    <div class="col">
        <h1 class="text-center">Prérequis sur les postes client</h1>
        <br /><br />
        <h5 class="">Partages de fichiers à créer : </h5>
        <p>
            <dl class="row">
                <dt class="col-md-2">"ImportApps"</dt>
                <dd class="col-md-10">Répertoire des applications locales partagé en écriture pour l'utilisateur biadm</dd>

                @*<dt class="col-md-2">"QSData"</dt>
                <dd class="col-md-10">Répertoire QSDATA (habituellement situé sur [C:\] ou [D:\]) partagé en écriture pour l'utilisateur biadm</dd>*@

            </dl>
        </p>
        <br /><br />
        <h5 class="">Autres informations : </h5>
        <p>
            <dl class="row">
                <dt class="col-md-2">Archivage/Livraison</dt>
                <dd class="col-md-10">Le temps d'écriture d'un fichier QVD sur une machine distante est long (au 08/07/2019 : 40Mo/minute).</dd>

                <dt class="col-md-2">Livraison</dt>
                <dd class="col-md-10">Pour augmenter la rapidité de traitement et pour assainir les variables des applications, les livraisons <strong>sans données </strong>sont à privilégier.</dd>

            </dl>
        </p>

    </div>
</div>
