<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <!-- Configuration de le l'écran /Tester/Donnees pour visualisation d'objet Qlik à la volée  -->
    <sectionGroup name="TesterDonnees">
        <!--<section name="Modeles" type="System.Configuration.SingleTagSectionHandler" />-->
        <section name="EnvironnementsList" type="System.Configuration.DictionarySectionHandler" />
        <section name="ModelesList" type="System.Configuration.DictionarySectionHandler" />
        <section name="ModelesApplicationsList" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>

  </configSections>
  <TesterDonnees>
    <EnvironnementsList>
      <add key="E1" value="1-dev;(dev);bi.cerpba.int" />
      <add key="E2" value="2-recette;(recette);bi.cerpba.com" />
      <add key="E3" value="3-production;(prod);bi.cerpba.com" />
    </EnvironnementsList>
    <ModelesList>
      <add key="M1" value="Vente" />
      <add key="M2" value="Stock" />
    </ModelesList>
    <ModelesApplicationsList>
      <add key="M1_1" value="Ventes client" />
      <add key="M1_2" value="Ventes client-article" />
      <add key="M1_3" value="Ventes détails" />
      <add key="M2_1" value="Suivi Contingente" />
      <add key="M2_2" value="Portail Laboratoires CERP" />
    </ModelesApplicationsList>
  </TesterDonnees>
    
    
  <connectionStrings>
    <!--<add name="QlikPlatformManager.DAL.QPMContext" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QlikPlatformManager2;Integrated Security=True;AttachDbFileName=|DataDirectory|QlikPlatformManager.mdf" />-->
    <add name="QlikPlatformManager.DAL.QPMContext" providerName="System.Data.SqlClient" connectionString="Data Source=FRCBF0297\SQLEXPRESS;Initial Catalog=QlikPlatformManager_Dev;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Environment" value="Dev" />
    <add key="ExportDirectory" value="C:\\Temp\\" />
    <add key="ImportDirectory" value="ImportApps" />
    <add key="ArchivSuffix" value="-ArchivQlik" />
    <add key="ExportSuffix" value="-ExportQlik" />
    <add key="Dev" value="http://bi.cerpba.int"/>
    <add key="Rec-Prod" value="http://bi.cerpba.com"/>

    <!--Adresse serveur par nom machine-->
    <add key="SRV99BI" value="http://bi.cerpba.int"/>
    <add key="SRV02BI" value="http://bi.cerpba.com"/>
    <!--Cas exécution sur poste client : ajout machine locale-->
    <add key = "Localhost" value="http://localhost:4848" />
    <!--Nom machine par adresse serveur-->
    <add key="http://bi.cerpba.int" value="SRV99BI"/>
    <add key="http://bi.cerpba.com" value="SRV02BI"/>
    <!--Repertoire des application serveur-->
    <add key="ServerAppsDir" value="\\QlikSense\\Apps\\"/>
    <!--Utilisateur par défaut-->
    <add key="domain" value="CERPBN"/>
    <add key="user" value="biadm"/>
    <add key="password" value="ezabrhBm"/>
    <!--SVN Local - Repertoire par défaut 1-->
    <add key="svnLocalDefaut1" value="C:\QSData\"/>
    <!--SVN Local - Repertoire par défaut 2-->
    <add key="svnLocalDefaut2" value="D:\QSData\"/>
    <!--SVN Local - Sous repertoire environnement-->
    <add key="dirEnvDev" value="1-dev"/>
    <add key="dirEnvRec" value="2-recette"/>
    <add key="dirEnvProd" value="3-prod"/>
    <!--SVN Local - Sous repertoire application-->
    <add key="dirApplication" value="applications"/>
    <!--SVN Local - Script de livraison-->
    <add key="scriptLivraison" value="publish-script.ps1"/>
    <!--SVN Local - livraison par macro, fichier de paramétrage-->
    <add key="dirMacroParm" value="0-tools\tasks\administrationMacros.csv"/>
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Windows" />
    <!--<authentication mode="None" />-->
    <authorization>
      <deny users="?" />
    </authorization>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
    <identity impersonate="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.1.0" newVersion="4.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <contexts>
      <!--Si on ne souhaite pas d'initilisation de BDD (Seed)-->
      <!--<context type="QlikPlatformManager.Dal.QPMContext, QlikPlatformManager" disableDatabaseInitialization="true" >-->
      <!--Equivaut à l'instruction Database.SetInitializer dans Application_Start-->
      <context type="QlikPlatformManager.DAL.QPMContext, QlikPlatformManager">
        <databaseInitializer type="QlikPlatformManager.DAL.QPMInitializer, QlikPlatformManager" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>