@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}

<div class="row">
        <br />
</div>
<div class="row">
    <h4 class="text-danger">Erreur.</h4><br />
</div>
<div class="row">
    <h5 class="text-danger">Une erreur s'est produite lors du traitement de votre demande.</h5>
</div>
