@model  QlikPlateformManager.ViewModels.ResultsViewModel

<fieldset class="form-group">
    <div id="Results" class="alert alert-danger" role="alert">
        <div id="ResultsTitle">
            <h4 class="alert-heading">@Model.Title<br /></h4>
        </div>
        <div id="ResultsResume">
            <p>@Model.Resume</p>
        </div>
        <hr>
        <div id="ResultsDetails">
            <p class="mb-0">@Html.Raw(Model.Details)</p>
        </div>
    </div>
</fieldset>
